body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: whitesmoke;
    background-image: url(images/yaa\ \(3\).jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    overflow-y: visible;
    background-repeat: repeat;

}
.landing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flexbox;
    text-align: right;
    position: relative;

}
.landing a{
    text-decoration: none;
    position: relative;
}
.coverpage{
    
    image-rendering: optimizeQuality;
    border-image: repeat;
    padding-top: 5px;
    margin-left: 50%;
}
.coverpage img{
    border-radius: 20%;
    border-top-right-radius: 20%;
    height: 50rem;
    width: 40rem;
}
.btn-case{
    height: 30vh;
    color: aliceblue;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 30px;
}
.use-case ul{
    list-style: none;
}
li{
    list-style: none;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5s)
}
.section1{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1998d3;
}

.slider{
    width: 626px;
    height: 352px;
    border-radius: 20px;
    overflow: hidden;
}
.slides{
    width: 100vh;
    height: 100vh;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: auto;
    transition: 2s;
}
.slide img{
    width: 626px;
    height: 352px;
}
.slideshow{
    display: flex;
}
.navigation-manuel{
    position: absolute;
    width: 800px;
    margin-top: -46px;
    display: flex;
    justify-content: center;
}
.manuel-btn{
    border: 2px solid  #1998d3;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}
.manuel-btn:not(last-child){
    margin-right: 40px;
}
.manuel-btn:hover{
    background: #1998d3;
}
#radio1:checked ~.first{
    margin-left: 0;  
}
#radio2:checked ~.first{
    margin-left: 20%;  
}
#radio3:checked ~.first{
    margin-left: -40%;  
}
#radio4:checked ~.first{
    margin-left: -60%;  
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #1998d3;
    padding: 5px;
    transition: 1s;
}
.navigation-auto div:not(last child){
    margin-top: 40px;
}
#radio1:checked ~ .navigation-auto.auto-btn1{
    background: #4003dc;
}
#radio2:checked ~ .navigation-auto.auto-btn2{
    background: #4003dc;
}
#radio3:checked ~ .navigation-auto.auto-btn3{
    background: #4003dc;
}
#radio4:checked ~ .navigation-auto.auto-btn4{
    background: #4003dc;
}